
<div class="bg-opacity-25 bg-primary ">
  <!--CAROUSEL : blog -->
  <div class="container-xl ">
    <div class="px-4 py-5 my-5 row justify-content-center">
      <h1 class="row justify-content-center">Blog</h1>

      <div id="carouselExampleControls" class="carousel carousel-dark slide row justify-content-center" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active col-md-2">


            <div class="row">

              <div class="col-lg-4 col-sm-1">
                <div class="card " style="width: 15rem;">
                  <img src="images/ed-vazquez-GEc9KDwZuxY-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Descubriendo la Montsera Deliciosa</h5>
                    <p class="card-text fw-light">Conocida popularmente como "planta de queso suizo" por sus hojas únicas y perforadas...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-sm-1">
                <div class="card" style="width: 15rem;">
                  <img src="images/no-revisions-HnYa7cQJKx4-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cómo organizar los riegos</h5>
                    <p class="card-text fw-light">¿Te cuesta mantener una rutina de riego? Te ayudamos a crear tu propio calendario de riego personalizado y...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-sm-1">
                <div class="card" style="width: 15rem;">
                  <img src="images/feey-qtgTwEiZz-I-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">La amenaza de la cochinilla algodonosa</h5>
                    <p class="card-text fw-light">Primero, no entres en pánico. Es una de las plagas más comunes entre las plantas de...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>

            </div>



          </div>
          <div class="carousel-item ">

            <div class="row">
              <div class="col-lg-4 col-sm-1">
                <div class="card" style="width: 15rem;">
                  <img src="images/no-revisions-HnYa7cQJKx4-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cómo organizar los riegos</h5>
                    <p class="card-text fw-light">Te ayudamos a crear tu propio calendario de riego personalizado. Necesitarás...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-sm-1">
                <div class="card" style="width: 15rem;">
                  <img src="images/ed-vazquez-GEc9KDwZuxY-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Descubriendo la Montsera Deliciosa</h5>
                    <p class="card-text fw-light">Conocida popularmente como "planta de queso suizo" por sus hojas únicas y perforadas...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-sm-1">
                <div class="card" style="width: 15rem;">
                  <img src="images/feey-qtgTwEiZz-I-unsplash.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">La amenaza de la cochinilla algodonosa</h5>
                    <p class="card-text fw-light">Primero, no entres en pánico. Es una de las plagas más comunes entre las plantas de...</p>
                    <button type="button" class="customButton btn btn-primary">leer más</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden ">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/app/dist/js/bootstrap.js"></script>
<script src="/app/dist/js/bootstrap.bundle.js"></script>
<script src="/app/dist/js/bootstrap.esm.js"></script>

