
<div class="bg-primary">
  <footer class="container-xl">
    <div class=" row justify-content-center">
      <div id="center" class="row text-center bg-primary">
        <div class="col-12">
          <img class="img-fluid w-25" ngSrc="../../assets/images/feey-qtgTwEiZz-I-unsplash.jpg" alt="Logo" height="2400"
               width="1920">
        </div>
        <div class="social ">
          <a href="#"><i class="icon ion-social-instagram"></i></a>
          <a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline col-12 ">
          <li class="list-inline-item"><a class="text-white nav-link" href="#">cuestionario</a></li>
          <li class="list-inline-item"><a class="text-white nav-link" href="#">plantas</a></li>
          <li class="list-inline-item"><a class="text-white nav-link" href="#">política de privacidad</a></li>
          <li class="list-inline-item"><a class="text-white nav-link" href="#">preguntas frecuentes</a></li>
          <li class="list-inline-item"><a class="text-white nav-link" href="#">contacto</a></li>

        </ul>
        <p class="copyright text-white text-center">cmardom © 2023</p>
      </div>
    </div>
  </footer>
</div>
