
<div class="container-xl">
  <br>
  <div class="row justify-content-center text-center">

    <h1 class="row justify-content-center">¿Qué es Plant Quest?</h1>
    <hr>
    <p class="w-75 lead">
      Somos un equipo de entusiastas de las plantas, expertos en tecnología y apasionados jardineros urbanos, unidos por una misión: transformar hogares en santuarios verdes. Con profunda admiración por la naturaleza, nos dedicamos a crear una plataforma donde cada persona pueda encontrar su compañero vegetal ideal.
    </p>
    <p class="w-75 lead">
      En Plant Quest, creemos firmemente en el poder de las plantas para mejorar nuestra calidad de vida. Ya sea purificando el aire, mejorando nuestro estado de ánimo o simplemente añadiendo un toque de belleza a nuestro entorno diario, las plantas tienen una manera única de transformar cualquier espacio.
    </p>
  </div>

  <div class="container-fluid  text-center">
    <div class="lc-block col-lg-6 mx-auto mb-4 bg-white">
      <p class="lead ">Por ello hemos creado un cuestionario que, a partir de los datos ambientales de tu hogar y siempre teniendo en cuenta tus necesidades, te aconsejará la planta perfecta para ti.</p>
    </div>
    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="cuestionario.html"><button type="button" class="btn btn-primary" >realiza el cuestionario</button></a>
    </div>
  </div>
</div>
<!--<script src="./app/dist/js/bootstrap.js"></script>-->
